body{
  background-color: floralwhite;
  text-align:center
}
h1{
  font-family: monospace;
  font-size: 40px;
  color: cadetblue;
  border-style: dashed;
  border-radius: 40px;
  border-bottom-width: thin;

}

h2{
  font-family: sans-serif;
  color: coral;
  text-decoration: underline;
  font-style: italic;
  font-size: 25px;
}
p{
  font-family: monospace;
  font-size: 20px;
  color: sandybrown;
  font-style: oblique;

}
img{
  border-style:dotted;
  border-radius: 30px;
  border-color: brown;
  width: 600px;
}
